html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    /* background: tomato; */
}

.content__time,
.content__score {
    height: 5vh;
    margin: 20px;
    background: tomato;
}

.loading {
    background: #ccc;
    cursor: not-allowed;
}

.correct {
    background: #e2f7e2;
    border-color: #50cd95;
    color: #50cd95;
}

@keyframes incorrectEffect {
    /* 0% {
        background: #fff;
        color: #b7bdc5;
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        background: #ff7f97;
        border-color: #ff5d7c;
        color: #ff5d7c;
        transform: translateX(0px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        background: #fff;
        color: #b7bdc5;
    } */
    0% {
        transform: translate(0, 0);
    }
    10.78571% {
        transform: translate(5px, 0);
        /* background: #ff7f97;
        border-color: #ff5d7c;
        color: #ff5d7c; */
        /* transform: translateX(0px); */
    }
    13.57143% {
        transform: translate(0, 0);
    }
    15.35714% {
        transform: translate(5px, 0);
    }
    17.14286% {
        transform: translate(0, 0);
    }
    20.92857% {
        transform: translate(5px, 0);
    }
    25.71429% {
        transform: translate(0, 0);
    }
    70% {
        background: #ffb2b2;
    }
    90% {
        background: #ffe0e0;
    }
    100% {
        background: #fff;
        transform: translate(0, 0);
        color: red;
    }
}

.incorrect {
    background: #ff7f97;
    border-color: #ff5d7c;
    color: #fff;
    outline: none;
    animation: incorrectEffect 0.8s ease-in-out forwards;
}
